include mixins

doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name="description" itemprop="description" content=page.Description())

		title= page.Title()
		meta(name="viewport" content="width=device-width, initial-scale=1")

		if page.HasRelativeBase()
			base(href=page.Base())
		else
			base(href=site.meta.json.app.APP_URL)

		link(rel="stylesheet", href="x/dist/themes/resume/css/resume.css")

	body
		header
			if page.Show("navbar")
				div.navbar
					ul
						each node in site.meta.json["navbar"]	
							li
								a(href=node.url).navbar= node.title
			div.header
				div.image
					img(src="x/dist/img/user.png")
				div.title
					h1= page.Title()
				if page.IsPage() && page.Show("author")
					- let author = page.Author()
					if author
						div.author
							p Written by #[a(href=author.RelativeURL())= author.Title()]
				if page.Show("description")
					div.description
						p= page.Description()
				if page.IsPage() && page.Show("tags")
					div.tags
						ul
							each tag in page.Tags()
								+TagWithCounter(tag)
		article
			div
				block content

		footer.one
			div.info
				h4 More Information
				ul
					each node in site.meta.json["info"]
						+InfoLink(node)
			div.social
				h4 Social Media
				ul
					each node in site.meta.json["social"]
						+SocialLink(node)

		footer.two
			div
				h5 &copy; Copyright 2020, Ankur Seth. All Rights Reserved.

		script(src="x/dist/js/resume.js")


